*{
    margin: 0;
    padding: 0;
}

/* Clase principal del contenedor del componente */
.Carrito{
    border: 1px solid;
    padding: 20px;
    width: 300px;
}

/* Clase del titulo del carrito */
.Carrito__titulo{
    font-weight: bold;
    margin-bottom: 10px;
}

/* Lista de productos seleccionados  */
.Carrito__items{
    list-style: none;
}

/* Cada producto seleccionado individual  */
.Carrito__item{
    padding: 10px;
    border-bottom: 1px solid;
}

/* El total de la compra de los productos  */
.Carrito__total{
    font-weight: bold;
    margin-top: 10px;
}